Jazda na mechanickom býkovi.
Máme historické dáta o 1000 súťažiacich, každého sme pozorovali 100 krát. (Dáta dodáme v csv súbore.)

Uvažujme nasledovný model:
Pretekár $k$ je charakterizovaný jedným číslom $m_k$ a logaritmus jeho času v konkrétnom závode je vybraný z normálneho rozdelenia so strednou hodnotou $m_k$ a varianciou $\tau^2$.

Ďalej predpokladajme, že rozdelenie čísla $m$ v prírode je normálne so strednou hodnotou $\mu$ a varianciou $\sigma^2$.

* a) Z dát odhadnite hodnoty parametrov $\tau, \mu, \sigma$. (Hint: Mali by vyjsť približne malé celé čísla.)

* b) Predpokladajme že sme namerali $\mu = \sigma = \tau = 1$. Objavíme nového jazdca, ktorého sme videli súťažiť len dva krát s časmi $e^2$ sekúnd a $e^3$ sekúnd. Aká je pravdepodobnosť, že v ďalšej súťaži vydrží aspoň $e^2$ sekúnd?
(Hint: s ohľadom na veľké množstvo dát predpokladajte, že parametre $\tau, \mu, \sigma$ sú presne určené.)

## Solution:
We measured $\mu = \sigma = \tau = 1$.
Denote $x_0 = 2$, $x_1 = 3$ the logarithms of the observed times.

Posterior distribution of parameter $m$ of the new contestant is
$$ m \sim Norm\big( \frac{\mu + x_0 + x_1}{3}, var= \frac 1 3 \big) = Norm\big( mean=2, var= \frac 1 3 \big)$$

Thus the distribution of the logarithm of his next time is distributed as 
$$x_2 \sim Norm\big( mean=2, var= \frac 1 3 + 1 \big)$$
Consequently probability that $x_2 > 2$ is $\frac 1 2$.

## Generate Data

In [4]:
import numpy as np
from numpy import random as rnd

In [6]:
mu = sigma = tau = 1

In [21]:
M = rnd.normal(loc=mu, scale=sigma, size=1000)

In [39]:
ln_T = np.array([rnd.normal(loc=m, scale=tau, size=100) for m in M])
T = np.exp(ln_T)

**Check it**

In [40]:
M.mean(), M.std()

(0.9999062795988837, 1.0079594638200955)

In [41]:
ln_T.mean(), ln_T.std()

(0.9983877409654313, 1.4162135677817986)

In [42]:
(ln_T - M[:, None]).mean(), (ln_T - M[:, None]).std()

(-0.001518538633452256, 0.9982389022878385)

**Save to file**

In [43]:
import pandas as pd

In [44]:
df = pd.DataFrame(T)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,20.333740,5.318111,6.222259,1.151210,6.416893,6.056503,5.899793,5.422069,3.969427,18.739121,...,7.033563,25.001109,8.566212,8.244436,2.184360,5.498176,2.110978,4.645810,2.411930,4.505944
1,2.016218,29.702839,7.743340,23.692174,24.375903,2.570488,3.978635,13.553372,22.005798,4.061112,...,16.199944,7.496730,63.186551,6.978679,3.096965,1.135852,3.151352,10.010178,6.688825,15.055173
2,0.098910,0.647817,1.638456,0.421921,2.743406,12.344246,1.115575,2.432689,0.999417,1.256698,...,2.185681,0.196562,2.435643,1.102194,1.521679,1.170022,2.370964,0.409610,1.309465,0.160516
3,5.432088,0.751066,3.897483,3.824519,8.284731,13.804523,5.911102,15.446412,6.194808,1.483478,...,2.217308,6.212220,10.340716,1.788997,1.110360,5.744799,10.447801,0.529797,4.648076,9.370161
4,1.234847,10.912452,4.696745,3.601206,9.120497,6.184297,6.994796,1.340925,1.408235,1.259033,...,6.194439,4.539114,3.876248,4.212600,1.246499,1.527642,5.484048,0.175399,2.980338,8.389928

In [45]:
df.to_csv("d:/bull_riding_times.csv", header=False, index=False )