Jazda na mechanickom býkovi.
Máme historické dáta o 1000 súťažiacich, každého sme pozorovali 100 krát. (Dáta dodáme v csv súbore.)

Uvažujme nasledovný model:
Pretekár $k$ je charakterizovaný jedným číslom $m_k$ a logaritmus jeho času v konkrétnom závode je vybraný z normálneho rozdelenia so strednou hodnotou $m_k$ a varianciou $\tau^2$.

Ďalej predpokladajme, že rozdelenie čísla $m$ v prírode je normálne so strednou hodnotou $\mu$ a varianciou $\sigma^2$.

* a) Z dát odhadnite hodnoty parametrov $\tau, \mu, \sigma$. (Hint: Mali by vyjsť približne malé celé čísla.)

* b) Predpokladajme že sme namerali $\mu = \sigma = \tau = 1$. Objavíme nového jazdca, ktorého sme videli súťažiť len dva krát s časmi $e^2$ sekúnd a $e^3$ sekúnd. Aká je pravdepodobnosť, že v ďalšej súťaži vydrží aspoň $e^2$ sekúnd?
(Hint: s ohľadom na veľké množstvo dát predpokladajte, že parametre $\tau, \mu, \sigma$ sú presne určené.)

## Solution:
We measured $\mu = \sigma = \tau = 1$.
Denote $x_0 = 2$, $x_1 = 3$ the logarithms of the observed times.

Posterior distribution of parameter $m$ of the new contestant is
$$ m \sim Norm\big( \frac{\mu + x_0 + x_1}{3}, var= \frac 1 3 \big) = Norm\big( mean=2, var= \frac 1 3 \big)$$

Thus the distribution of the logarithm of his next time is distributed as 
$$x_2 \sim Norm\big( mean=2, var= \frac 1 3 + 1 \big)$$
Consequently probability that $x_2 > 2$ is $\frac 1 2$.

## Generate Data

In [4]:
import numpy as np
from numpy import random as rnd

In [6]:
mu = sigma = tau = 1

In [21]:
M = rnd.normal(loc=mu, scale=sigma, size=1000)

In [22]:
T = np.array([rnd.normal(loc=m, scale=tau, size=100) for m in M])

**Check it**

In [26]:
M.mean(), M.std()

(0.9999062795988837, 1.0079594638200955)

In [27]:
T.mean(), T.std()

(0.9967843024375066, 1.4222190936888341)

In [31]:
(T - M[:, None]).mean(), (T - M[:, None]).std()

(-0.003121977161376885, 1.000120843156278)

**Save to file**

In [33]:
import pandas as pd

In [35]:
df = pd.DataFrame(T)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.937949,1.904801,1.448108,1.129782,1.720541,0.842879,3.632855,0.617504,0.326851,2.115311,...,2.175489,0.746332,-0.468393,2.003991,1.832211,1.867614,1.738107,1.331094,3.278622,-0.112203
1,4.975154,3.239054,3.384027,2.158432,1.201479,0.416793,0.503489,2.398765,3.454417,3.205204,...,2.568838,1.844005,2.908962,0.699117,2.599709,1.870988,0.897852,2.823413,2.731357,1.746696
2,0.159639,-0.480750,-0.495083,0.373850,-0.948148,1.753165,-0.103982,1.763537,-0.598566,1.288991,...,-0.457162,-0.429859,-1.369040,2.179461,-0.204015,0.294039,0.069112,-1.525087,1.185966,1.361910
3,1.691786,0.742839,0.102407,1.920602,2.169215,1.346507,0.456444,0.994179,0.718641,0.753690,...,0.537557,1.310216,2.097809,1.224117,1.441062,1.161832,1.383774,1.265271,0.474127,1.554086
4,0.983940,1.291897,0.106264,2.420429,2.133941,2.085469,2.680931,-0.297046,0.114432,2.025982,...,1.143774,1.714901,0.079406,0.827832,3.553662,1.078385,0.370791,1.536211,1.564060,0.308630

In [37]:
df.to_csv("d:/bull_riding_times.csv", header=False, index=False )